<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/list.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as listCtrl">
    <h1>To do list</h1>
    <div>
      
      <form class="form-horizontal">
        <input type="text" ng-model="listCtrl.toDoText">
        <button class="btn" ng-click="listCtrl.addToDo()">Add to do</button>
      </form>

      <div>
        Items: {{listCtrl.countItemsToDo()}} / {{listCtrl.countItems()}}
        <button class="btn" ng-click="listCtrl.deleteDone()">Remove complete</button>
      </div>

      <ul class="list-group">
        <li ng-repeat="item in listCtrl.toDoList.items">

          <div class = "toDo-{{item.done}}" id = "item-{{$index}}">
            <input type="checkbox" ng-model="item.done">
            <button class="btn" ng-click="listCtrl.editItem($index)">Edit</button>
            <button class="btn" ng-click="listCtrl.deleteItem($index)">Delete</button>
            {{item.text}}
          </div>

        </li>
      </ul>

    </div>
  </body>
</html>
